.cpp_container{
    width: 800px;
      /* background-color: black;  */
    border-style:solid;
    border-radius: 3px;
    border-width: 0.5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
     /* position: absolute;
    top: 10%;
    left: 35%;  */
}
